version: 2

jobs:
  build:
    docker:
      - image: circleci/golang:1.12
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run:
          name: download go modules
          command: make install-modules
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - run: 
          name: install needed tools
          command: make install-tools
      - run: 
          name: lint
          command: make lint
      - run:
          name: test
          command: make test
      - run:
          name: coveralls
          command: make coveralls
      - run:
          name: build all
          command: make build-all-platforms
      - store_test_results: # Upload test results for display in Test Summary
          path: ./test-results/junit
      - persist_to_workspace:
          root: ./binaries
          paths:
            - "*"
  release:
    docker:
      - image: cibuilds/github:0.10
    steps:
      - checkout
      - attach_workspace:
          at: ./binaries
      - run:
          name: install make...
          command: apk add make
      - run:
          name: package files
          command: make package
      - run:
          name: release on github
          command: |
            VERSION=$(make echo-version)
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./deploy/
workflows:
  version: 2
  build-n-release:
    jobs:
      - build:
          filters:  # required since `release` has tag filters AND requires `build`
            tags:
              only: /.*/
      - release:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              only: /^master/
